<div class="border-max-width" [class.fixed-bottom]="isImprintPage">
    <div class="footer-container">
      <div class="footer-left">
        <a href="#header-container">
            <span>Mauric</span><span style="color: #70E61C;">e</span>
        </a>
      </div>
      <div class="footer-middle">
        <span>&copy; Maurice Preißler 2024</span>
        <a id="imprint" routerLink="imprint">{{ "Imprint" | translate }}</a>
      </div>
      <div class="footer-right">
        <a href="https://github.com/MauricePreissler" target="_blank">
          <img src="assets/img/github.png" alt="" />
        </a>
        <a href="mailto: m.preissler@etik.com" target="_blank">
          <img src="assets/img/mail.png" alt="" />
        </a>
        <a href="https://www.linkedin.com/in/maurice-prei%C3%9Fler-2a7a6231a/" target="_blank">
          <img src="assets/img/linkedin.png" alt="" />
        </a>
      </div>
    </div>
  </div>