<div data-aos="flip-left" class="join-container">
    <div class="join-screens">
        <img src="assets\img\pokedex.png">
    </div>

    <div class="join-description">
        <div class="join-text">
            <h3>Pokédex</h3>
            <p>Javascript | HTML | CSS | Api </p>
            <span>{{'pokedex'| translate}}                                  
            </span>
        </div>
        <div class="buttons">
            <a href="https://maurice-preissler.developerakademie.net/PokemonDex/index.html" target="_blank">
                <button class="live-test-btn">{{'Live test'| translate}}</button>
            </a>

            <a href="https://github.com/MauricePreissler/PokeDex" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

</div>
