<div id="header-container" class="header-container">

    <div class="profile-img-container">
        <img class="header-blue-shadow" src="assets/img/Group 2.png">
        <img class="my-profile-img" src="assets\img\headProfil.png">
    </div>

    <div  data-aos="flip-up" class="title-container">
        <div class="title-content">

                <span>{{'I am'| translate}}</span>

            <div class="title-name-job">
                <h1>Maurice Preißler</h1>
                <h2>{{'FRONTEND DEVELOPER'| translate}}</h2>
            </div>
        </div>

        <div class="btn-container">
            <button class="btn-animation" (click)="scrollToSection()">
                <span>{{"Let's talk"| translate}}</span>
            </button>
        </div>
    </div>
   <img class="curved-background" src="assets\img\Vector (3).png">

</div>
