<div class="my-skills-container" id="skills">
    <div data-aos="zoom-in" class="skills">
        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/html.png" alt="">
                <span>HTML</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/css.png" alt="">
                <span>CSS</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/js.png" alt="">
                <span>Javascript</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/Api.png" alt="">
                <span>Rest-Api</span>
            </div>
        </div>

        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/ts.png" alt="">
                <span>Typescript</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/angular.png" alt="">
                <span>Angular</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/github.png" alt="">
                <span>Github</span>
            </div>
        </div>

        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/material.png" alt="">
                <span>Material Design</span>
            </div>
        </div>
    </div>
    <img class="shadow-blue" src="assets/img/GReen shadow.png">

    <div class="skills-description">
        <div class="title-line">
            <h2>{{'My Skills'| translate}}</h2>
            <span class="blue-line"></span>
        </div>
        <div class="sp">
            <span>{{'my skills text'| translate}}</span>
        </div>
        <div class="btn-container">
            <button class="btn-animation" (click)=" scrollToSection()">
                {{'Get in touch'| translate}}
            </button>
        </div>
    </div>




</div>