<div class="github-email-container">

    <div class="github-email-buttons">
        <div class="green-line"></div>
        <a href="https://github.com/MauricePreissler" target="_blank">
            <img src="assets/img/github.png">
        </a>
        <a href="mailto: m.preissler@etik.com" target="_blank">
            <img src="assets/img/mail.png">
        </a>
        <a href="https://www.linkedin.com/in/maurice-prei%C3%9Fler-2a7a6231a/" target="_blank">
            <img src="assets/img/linkedin.png" target="_blank">
        </a>
        <span class="my-email">m.preissler&#64;etik.com</span>
    </div>

    <div class="scroll-down-alert">
        <div class="scroll-down-text">Scroll down</div> 
        <img class="arrowAnimation" src="assets/img/arrow.png "> 
    </div>
</div>

