<div class="imprint-main">
    <div class="imprint-scroll">
    <span id="imprint-text">
        <strong>{{'Imprint'| translate}}</strong><br><br>

        {{'Information according to § 5 TMG'| translate}}<br><br>

        <strong>Maurice Preißler</strong><br>
        Am Röschenhof 6<br>
        04328 Leipzig<br>
        Germany<br><br>

        <strong>{{'Contact'| translate}}</strong><br><br>

        Phone: +49 173 1234567<br>
        E-mail: <a href="mailto:m.preissler@etik.com">m.preissler&#64;etik.com</a><br><br>

        <strong>{{'Responsible for the content according to § 55 Abs. 2 RStV:'| translate}}</strong><br><br>

        Maurice Preißler<br>
        Am Röschenhof 6<br>
        04328 Leipzig<br>
        Germany<br><br>

        <strong>{{'Liability for Content'| translate}}</strong><br><br>

        {{'LfC' | translate}}<br><br>

        <strong>{{'Liability for Links'| translate}}</strong><br><br>

        {{'LfL' | translate}}<br><br>

        <strong>{{'Copyright'| translate}}</strong><br><br>

        {{'CCR' | translate}}<br><br>
    </span>
    </div>
</div>
