<div data-aos="flip-left" class="join-container">
    <div class="join-screens">
        <img src="assets\img\join.png">
    </div>

    <div class="join-description">
        <div class="join-text">
            <h3>Join</h3>
            <p>Javascript | HTML | CSS | Firebase </p>
            <span>{{'join'| translate}}</span>
        </div>
        <div class="buttons">
            <a href="https://code-crafters-join-3.developerakademie.net/06_09_GruppenProjekt_Join_ProjektOrdner/07logIn.html" target="_blank">
                <button class="live-test-btn">{{'Live test'| translate}} </button>
            </a>

            <a href="https://github.com/Solquarters/Join_Gruppe3" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

</div>