<div data-aos="flip-right" class="pollo-container">
   
    <div class="pollo-description">
        <div class="pollo-text">
            <h3>El Pollo Loco</h3>
            <p>Javascript | HTML | CSS </p>
            <span>{{'pollo-loco'| translate}}</span>
        </div>
        <div class="buttons">
            <a href="https://maurice-preissler.developerakademie.net/Pollo%20Loco/index.html" target="_blank">
                <button class="live-test-btn">{{'Live test'| translate}}</button>
            </a>

            <a href="https://github.com/MauricePreissler/el-pollo-loco" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

    <div class="pollo-screens">
        <img src="assets\img\pollo.png">
    </div>
</div>


